.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 1.5rem;

  display: flex;
  justify-content: space-between;
}

.themeButton,
.followIconPlus,
.themeButtonInner {
  height: 1.5rem;
  width: 1.5rem;
}

.followIconPlus {
  position: relative;
  transform: translateY(-0.15rem) scale(0.96);
}

.followIconPlus::before,
.followIconPlus::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--textColor);
  border-radius: 1px;
}

/* CROSS */
.followIconPlus::before {
  width: 95%;
  height: 15%; 
}

/* DOWN */
.followIconPlus::after {
  height: 95%;
  width: 15%;
}

.themeButton,
.themeButtonInner {
  border-radius: 100%;
  border: 0;
  outline: 0;
}

@media only screen and (min-width: 600px) {
  .themeButton,
  .followIconPlus,
  .themeButtonInner {
    height: 2rem;
    width: 2rem;
  }
}

.themeButton {
  position: relative;
  background-color: var(--textColor);
}

.themeButtonInner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: transform 500ms ease;
  background-color: var(--bgColor);
}